@media (max-width: 924px) {
    .main .products h2 div {
        width: 36%;
    }

    .main .products .productsGallery .productsList {
        justify-content: space-evenly;
    }

    .main .share h2 div {
        width: 36%;
    }
}

@media (max-width: 825px) {
    .headerNav ul {
        justify-content: center;
        gap: 25px;
        max-width: 345px;
    }

    .main .helpAlgorithm {
        flex-direction: column;
        align-items: center;
    }

    .main .helpAlgorithm article > div:first-child div {
        display: flex;
    }

    .main .products h2 div {
        width: 34%;
    }

    .main .share h2 div {
        width: 34%;
    }
}

@media (max-width: 750px) {
    .header {
        background: linear-gradient(187deg, rgba(112,112,112,1) 75%, rgba(255,255,255,1) 75.2%);
    }

    .main .shareForm .friendInfo {
        flex-direction: column;
        align-items: center;
    }

    .main .products h2 div {
        width: 31%;
    }
    

    .main .share h2 div {
        width: 31%;
    }

    .footer {
        height: 157px;
    }

    .footer p {
        margin-top: 73px;
    }
}

@media (max-width: 600px) {
    .headerContainer {
        padding: 66px 15px 0;
    }

    .main .products h2 div {
        width: 26%;
    }

    .main .share h2 div {
        width: 26%;
    }
}

@media (max-width: 475px) {
    .main .products h2 {
        margin: 0px -15px;
    }

    .main .products h2 div {
        width: 23%;
    }
    
    .main .products .productsGallery .productsList .productContainer {
        display: flex;
        align-items: center;
        gap: 23px;
        width: 392px;
    }

    .main .products .productsGallery .productsList .productContainer div.productImg {
        width: 169px;
        height: 134px;
    }
    
    .main .products .productsGallery .productsList .productContainer .productDescription {
        display: none;
    }
    
    .main .products .productsGallery .productsList .productContainer div:last-child {
        width: 200px;
    }

    .main .share h2 {
        margin: 0px -15px;
    }

    .main .share h2 div {
        width: 23%;
    } 
}

@media (max-width: 408px) {
    .header {
        background: linear-gradient(194deg, rgba(112,112,112,1) 75%, rgba(255,255,255,1) 75.2%);
    }
    
    .header h1 {
        font-size: 36px;
        text-align: left;
    }

    .header h1 span {
        text-align: left;
    }
    
    .headerNav ul {
        gap: 5px;
    }

    .header p {
        text-align: left;
    }

    .main .products h2 div {
        width: 20%;
    }

    .main .products .productsGallery .productsList .productContainer div:last-child {
        max-width: 160px;
    }

    .main .share h2 div {
        width: 20%;
    }

}

@media (max-width: 360px) { 
    input[type="text"], input[type="email"] {
        width: 240px;
    }

    .main .products .productsGallery .productsList .productContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        width: 392px;
    }

    .main .products h2 {
        font-size: 16px;
    }

    .main .products h2 div {
        width: 15%;
    }

    .main .products > button {
        width: fit-content;
        padding: 5px 10px;
    }
    
    .main .share h2 {
        font-size: 16px;
    }
    
    .main .share h2 div {
        width: 15%;
    }

    .main .shareForm input[type="submit"] {
        width: fit-content;
        padding: 5px 10px;
    }
}

@media (max-width: 355px) {
    .headerNav ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 0 15px;
    }
    
    .headerNav ul li:first-child {
        align-self: flex-start;
    }

    .headerNav ul li:nth-child(2) {
        align-self: flex-end;
    }

    .headerNav ul li:nth-child(3) {
        align-self: flex-start;
    }

    .headerNav ul li:last-child {
        align-self: flex-end;
    }
    
}