@import url(reset.css);

body {
    font-family: Helvetica, sans-serif;
}

input {
    display: block;
    color: #3d3d3d;
    font-size: 14px;
    width: 340px;
    height: 30px;
    margin-top: 7px;
    padding: 6px;
    border: 1px solid #707070;
    outline: none;
}

/**********************
         HEADER
**********************/

.header {
    color: #fff;
    background: #707070;
    background: linear-gradient(185deg, rgba(112,112,112,1) 75%, rgba(255,255,255,1) 75.2%);
    height: 399px;
}

.headerContainer {
    margin: auto;
    padding: 69px;
}

.header h1 {
    font-size: 40px;
    text-align: center;
}

.header h1 span {
    display: block;
    font-size: 20px;
    font-weight: lighter;
}

.header p {
    font-size: 14px;
    text-align: center;
    margin: 25px 0 0 0;
}

.headerNav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    max-width: 770px;
    margin: 50px auto 0;
}

.headerNav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888888;
    background-color: #fff;
    font-size: 14px;
    width: 160px;
    height: 40px;
    border: 1px solid #707070;
    border-radius: 4px;
    box-shadow: 0px 1px 6px #00000029;
    cursor: pointer;
    transition: all 300ms ease;
}

.headerNav ul li:hover {
    color: #fff;
    background-color: #707070;
    border: 1px solid #fff;
}

/************************
*  MAIN - helpAlgorithm
*************************/

.main {
    width: 931px;
    margin: 20px auto;
}

.main .helpAlgorithm {
    display: flex;
    justify-content: space-between;
    color: #888;
    margin-bottom: 79px;
    padding: 0 15px;
}

.main .helpAlgorithm article h2 {
    font-size: 20px;
    font-weight: lighter;
}

.main .helpAlgorithm article div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    margin-top: 25px;
}

.main .helpAlgorithm article div p {
    font-size: 12px;
    width: 520px;
    line-height: 18px;
}

.main .helpAlgorithm .registerForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
}


.main .helpAlgorithm .registerForm label {
    display: block;
    font-size: 12px;
}

.main .helpAlgorithm .registerForm .sex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 203px;
}

.main .helpAlgorithm .registerForm .sex div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.main .helpAlgorithm .registerForm .sex label {
    display: inline;
    font-size: 12px;
}

.main .helpAlgorithm .registerForm .sex input[type="radio"] {
    display: inline;
    width: 14px;
    height: 14px;
}

.main .helpAlgorithm .registerForm input[type="submit"] {
    color: #888;
    background-color: white;
    font-size: 16px;
    height: 39px;
    transition: all 300ms ease;
}

.main .helpAlgorithm .registerForm input[type="submit"]:hover {
    color: #fff;
    background-color: #888;
    border: 1px solid #888;
}

/************************
*    MAIN - Products
************************/

.main .products {
    color: #888;
}

.main .products h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.main .products h2 div {
    background-color: #707070;
    width: 38%;
    height: 1px;
}

.main .products .productsGallery .productsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 0;
    row-gap: 39px;
}

.main .products .productsGallery .productsList .productContainer {
    width: 200px;
}

.main .products .productsGallery .productsList .productContainer div.productImg {
    width: 200px;
    height: 150px;
    border: 1px solid gray;
}

.main .products .productsGallery .productsList .productContainer h3 {
    font-size: 14px;
    font-weight: normal;
    margin-top: 14px;
}

.main .products .productsGallery .productsList .productContainer h4 {
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
}

.main .products .productsGallery .productsList .productContainer span.oldPrice {
    display: block;
    font-size: 12px;
    margin: 8px 0 6px;
}

.main .products .productsGallery .productsList .productContainer span.price {
    font-size: 16px;
    margin: 0;
}

.main .products .productsGallery .productsList .productContainer span.installmentPrice {
    display: block;
    margin: 6px 0 10px;
}

.main .products .productsGallery .productsList .productContainer button {
    font-size: 16px;
    color: #888;
    background-color: #fff;
    width: 100%;
    height: 30px;
    border: 1px solid #707070;
    border-radius: 4px;
    transition: all 300ms ease;
}

.main .products .productsGallery .productsList .productContainer button:hover {
    color: #fff;
    background-color: #888;
    border: 1px solid #888;
}

.main .products > button {
    display: block;
    color: #888;
    background-color: #fff;
    font-size: 16px;
    width: 260px;
    height: 39px;
    margin: 50px auto 0;
    border: 1px solid #707070;
    border-radius: 4px;
    transition: all 300ms ease;
}

.main .products > button:hover {
    color: #fff;
    background-color: #888;
    border: 1px solid #888;
}

/*********************
*    MAIN - Share
*********************/

.main .share {
    color: #888;
    margin: 72px 0 128px;
}

.main .share h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.main .share h2 div {
    background-color: #707070;
    width: 38%;
    height: 1px;
}

.main .share p {
    font-size: 14px;
    text-align: center;
    margin: 44px 0 39px;
}

.main .shareForm .friendInfo {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.main .shareForm .friendInfo label {
    display: block;
    font-size: 12px;
}

.main .shareForm input[type="submit"] {
    display: block;
    color: #888;
    background-color: white;
    font-size: 16px;
    width: 260px;
    height: 39px;
    margin: 50px auto 0;
    border: 1px solid #707070;
    border-radius: 4px;
    transition: all 300ms ease;
}

.main .shareForm input[type="submit"]:hover {
    color: #fff;
    background-color: #888;
    border: 1px solid #888;
}

/********************
*       FOOTER
*********************/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background: rgb(112,112,112);
    background: linear-gradient(356.4deg, rgba(112,112,112,1) 75%, rgba(255,255,255,1) 75.2%);
    font-size: 12px;
    height: 293px;
}

.footer p {
    margin-top: 157px;
}

.footer span {
    margin-top: 5px;
}